
<div class="Todo">
  <div class="TodoContainer">   
      <div class="todoheader">
          <input [(ngModel)]="newTodo.title" type="text" placeholder="Add Tasks">
          <button (click)="addTodo()">Add</button>
      </div>  
      <div class="todocontent">
          <div *ngFor="let TodoItems of todos" class="task">
              <p>{{TodoItems.title}}</p>
              <div class="delete">
                  <button (click)="deleteTodo(TodoItems.id)">
                      <img src="images/delete.png" alt="">
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>






<!-- <router-outlet /> -->
